@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #132219;
}

.carousel-height {
  height: 410px;
}

.card-shadow {
  box-shadow: -20px 31px 19px 4px rgba(0, 0, 0, 0.5);
}

.content-loading {
  @apply bg-gradient-to-r;
  @apply from-emerald-900;
  @apply to-emerald-600;
  @apply animate-pulse;
  @apply rounded-lg;
}
